body {
	margin: 0;
	font-weight: 500;
	font-style: normal;
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

.container {
	max-width: 1136px;
	margin: 0 auto;
}

header {
	color: #ffffff;
	font-size: 12px;
}

.header-ul {
	display: inline;
	margin: 0 0 0 3%;
	padding-left: 0;
}

.header-ul li {
	padding: 0 1%;
	display: inline;
	list-style-type: none;
}

.header-ul li:hover {
	border-bottom: 3px solid #F14D34;
	transition: all .2s;
}

.header-img {
	width: 46.7%;
	height: 74%;
	position: absolute;
	transform: rotate(-3deg);
}

.header-content {
	position: relative;
	padding-top: 1.5%;
}

header video {
	object-fit: cover;
	width: 100%;
  	max-height: 650px;
  	filter: brightness(25%);
	position: absolute;
}
.drupal-coder {
	vertical-align: middle;
	height: 13%;
	width: 13%;
}

.header-menu {
	line-height: 10px;
	letter-spacing: 0.06em;
}

.hb { 
	display: flex;
	justify-content: space-between;
	margin: 6% 0 0 0;
}

.hb span {
	font-weight: bold;
	font-size: 52px;
	line-height: 60px;
}

.hb p {
	font-size: 18px;
	line-height: 28px;
	opacity: 0.8;
}

.hb-button {
	margin-top: 15%;
	border-radius: 5px;
	border: 2px solid #F14D34;
	background: transparent;
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	padding: 5.6% 17%;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.hb-button:hover {
	background-color: #F14D34;
	transition: all .4s;
}

.header-about {
	margin-right: 3%;
}

.header-info h2 {
	display: inline;
	font-weight: bold;
	font-size: 48px;
	line-height: 59px;
}

.header-info h3 {
	display: inline;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
}

.first-child {
	margin-bottom: 80px;
}

.header-info {
	margin-top: 90px;
	max-width: 170px;
	display: flex;
	flex-wrap: wrap;
}

.header-info p {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	display: inline;
	opacity: 0.7;
}

.header-info div {
	padding-left: 16px;
	max-height: 80px;
	border-left: 3px solid #F14D34;
}

.about {
	margin-top: 280px;
}

.about-title h2 {
	font-weight: bold;
	font-size: 42px;
	line-height: 51px;
	color: #050C33;
	max-width: 580px;
}

.about-title div {
	font-size: 16px;
	line-height: 22px;
	color: #050C33;
	opacity: 0.7;
	max-width: 493px;
}

.about-title {
	margin-bottom: 80px;
}

.about-content {
	display: flex;
	justify-content: space-between;
	max-width: 1082px;
}

.about-content div {
	flex-direction: column;
	max-width: 200px;
	font-size: 16px;
	line-height: 22px;
	color: #050C33;
}

.about-content-span {
	opacity: 0.7;
	display: block;
	margin-left: 14%;
}

.ac-d {
	position: absolute;
}

.ac-c {
	position: relative;
	left: 45px;
	bottom: 15px;
}

.about-content:last-child {
	margin-top: 80px;
}

.support-title {
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	line-height: 51px;
	margin-bottom: 40px;
}

.support-front-items {
	position: relative;
	background-color: #fff;
	overflow: hidden;
	box-shadow: 0 5px 10px -3px rgba(5, 12, 51, 0.05);
	border-radius: 5px;
	max-height: 275px;
	max-width: 266px;
	flex-direction: column;
	margin-right: 5px;
}

.support-front-items:last-child {
	margin-right: 0;
}

.support-front-content:first-child .support-front-items{
	margin-bottom: 5px;
}

.support-front-content {
	display: flex;
}

.support {
	display: inline-block;
	margin-top: 180px;
}

.support-front {
	filter: drop-shadow(20px 20px 40px rgba(5, 12, 51, 0.05));
	margin-bottom: -185px;
}

.support-front-items h4 {
	font-weight: bold;
	font-size: 18px;
	line-height: 22px;
	color: #050C33;
	padding: 0 20px 0 26px;
	margin-bottom: 12px;
	margin-top: 20px;
}

.support-front-items-content {
	z-index: 2;
	position: relative;
	margin-bottom: 20%;
	font-size: 16px;
	line-height: 22px;
	color: #050C33;
	opacity: 0.7;
	padding: 0 12px 0 26px;
}

.support-front-items-num {
	margin-top: 28px;
	max-height: auto;
	padding: 0 32px 0 26px;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	color: #050C33;
	opacity: 0.5;
}

.support-front-items-img {
	width: 30%;
	height: 30%;
	bottom: 0;
	right: 0;
	position: absolute;
}

.support-back {
	max-height: 650px;
	padding-top: 380px;
	width: 100%;
	background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
}

.laptop {
	max-width: 800px;
	width: 50%;
}

.laptop img {
	max-width: 800px;
	height: auto;
	width: 100%;
}

.support-back-content-text {
	display: flex;
	flex-wrap: wrap;
}

.support-back-content {
	width: 50%;
	float: right;
}

.support-back-content h1 {
	font-weight: bold;
	font-size: 42px;
	line-height: 51px;
	color: #fff;
}

.support-back-content-items-text {
	max-width: 269px;
	font-size: 16px;
	line-height: 22px;
	opacity: 0.7;
	color: #fff;
	flex-direction: column;
	border-left: 3px solid #F14D34;
	margin: 30px 9px 0 0;
	padding: 10px 0 10px 15px;
}

.support-back-content-items:last-child .support-back-content-items-text:last-child {
	margin-top: 17%;
	padding-bottom: 15%;
}

.support-back-content-items-link {
	color: #F14D34;
	opacity: 0.9;
}

.support-back-content-items-link:hover {
	text-decoration: underline;
}

.plans {
	margin-top: 170px;
}

.plan-flex {
	margin-bottom: 80px;
	display: flex;
}

.hidden-plan {
	padding: 0 24px;
	margin-top: 30px;
	width: 100%;
	max-height: 522px;
	max-width: 329px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	flex-direction: column;
}

.hidden-plan:last-child {
	max-height: 550px;
}

.front-plan {
	padding: 0 32px;
	margin: 0 15px;
	width: 100%;
	max-height: 632px;
	max-width: 362px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 60px rgba(162, 162, 162, 0.25);
	border-radius: 5px;
	flex-direction: column;
}

.plan-flex-title {
	margin-top: 80px;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;
	color: #F14D34;
}

.plan-flex-hr {
	opacity: 0.2;
	margin-bottom: 50px;
}

.plan-text-front {
	font-size: 16px;
	line-height: 22px;
	color: #050C33;
	opacity: 0.7;
}

.plan-text-hidden {
	font-size: 16px;
	line-height: 20px;
	color: #050C33;
	opacity: 0.7;
}

.plan-flex button {
	font-size: 12px;
	line-height: 12px;
	text-transform: uppercase;
	padding: 25px 90px;
	margin-bottom: 66px;
	margin-top: 45px;
	cursor: pointer;
}

.hidden-plan-button {
	color: #F14D34;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #F14D34;
}

.front-plan-button {
	color: #fff;
	background-color: #F14D34;
	border-radius: 5px;
	border: 1px solid #F14D34;
}

.plan-text-front-img {
	margin-right: 19px;
}

.plans-afterwords {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #050C33;
	opacity: 0.5;
}

.plans-afterwords-link {
	display: block;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #050C33;
}

.plan-title {
	font-weight: bold;
	font-size: 42px;
	line-height: 51px;
	text-align: center;
	color: #000000;
}

.additional-info {
	display: flex;
}

.additional-info div {
	flex-direction: column;
	max-width: 230px;
}

.additional-info div:nth-child(2) {
	margin: 0 139px;
}

.additional-info-h3 {
	font-size: 28px;
	margin: 1px 0 3px 14%;
	color: #050C33;
	font-weight: bold;
}

.additional-info span {
	font-size: 16px;
	line-height: 22px;
	color: #050C33;
}

.additional-info-h1 {
	margin: 170px 0 68px 3%;
	font-weight: bold;
	font-size: 42px;
	color: #050C33;
}

.dib {
	display: inline-block;
	margin-bottom: 127px;
}

.team-title {
	margin: 198px 0 86px 0;
	text-align: center;
	font-weight: bold;
	font-size: 42px;
	color: #050C33;
}

.team-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 1040px;
}

.team-list img {
	width: 100%;
	height: 100%;
}

.team-list .team-list-items {
	width: 27%;
	height: 27%;
}

.team-list a {
	font-weight: bold;
	font-size: 16px;
	color: #050C33;
	text-decoration: none;
	margin-top: 22px;
	margin-bottom: 10px;
	display: inline-block;
	line-height: 22px;
}

.team-list-items div {
	font-size: 16px;
	color: #050C33;
	line-height: 22px;
}

.team-list .team-list-items:nth-child(2) {
	margin: 0 9%;
}

.team-list .team-list-items:last-child {
	margin-left: 9%;
}

.team-list .team-list-items:first-child {
	margin-bottom: 83px;
}

.team-button {
	padding: 25px 75px;
	background: transparent;
	color: #050C33;
	border: 1px solid #cccdd5;
	border-radius: 5px;
	margin-top: 74px;
	margin-bottom: 63px;
	cursor: pointer;
}

.team-button-wrapper {
	text-align: center;
}

.team-title:last-child {
	margin: 0;
}

.cases-content {
	max-width: 1120px;
}

.cases-items {
	display: flex;
	height: 474px;
}

.block-link {
	display: block;
	border-radius: 5px;
}

.cases-bgimg-0 {
	background-image: url(img/cases-1.jpg);
}

.cases-bgimg-1 {
	background-image: url(img/cases-2.jpg);
}

.cases-bgimg-2 {
	background-image: url(img/cases-4.jpg);
}

.w33 {
	width: 33%
}

.w67 {
	width: 67%;
}

.cases-img {
	width: 100%;
	height: 180px;
}

.cases-items:first-child {
	margin-bottom: 8px;
}

.cases-items .block-link:nth-child(2) {
	margin-left: 8px;
}

.cases-items:last-child .block-link:last-child {
	margin-left: 8px;
}

.cases-span {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.25;
	color: #050c33;
	margin: 36px 60px 0 35px;
}

.cases-span:hover {
	text-decoration: underline;
}

.cases-items:first-child .cases-span:last-child {
	margin: 367px 0 0 5.69%;
	color: #fff;
	max-width: 42%;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.cases-items:last-child .data {
	color: #fff;
}

.cases-items:last-child .cases-span {
	color: #fff;
	margin: 328px 61px 0 35px;
	text-shadow: 2px 4px 3px rgba(0,0,0,1);
}

.cases-items:last-child .cases-span:nth-child(2) {
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.25;
	color: #050c33;
	margin: 36px 60px 0 35px;
	text-shadow: none;
}

.cases-items:last-child .data:nth-child(3) {
	color: #050c33;
}

.data {
	color: #050c33;
	opacity: 0.5;
	line-height: 1.25;
	font-size: 12px;
	display: inline-block;
	margin-left: 35px;
	margin-bottom: 20px;
}

.cases-text {
	display: inline-block;
	margin-left: 35px;
	margin-right: 60px;
	color: #050c33;
	font-size: 14px;
}

.dib:last-child {
	margin: 0;
	width: 100%;
}
